.recipe {
    border-radius: 10px;
    box-shadow: 0 10px 20px gray;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 33%;
}

.image {
    border-radius: 8px;
    width: 200px;
    height: auto;
}